.experiencesPageWrapper {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 32px;
}

:global(.lowRes) .experiencesPageWrapper {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 12px;
}

:global(.lowRes) .tabs {
    flex-direction: row;
}

.tabs :global(span) {
    color: #333333;
    font-size: 22px;
    cursor: pointer;
    transition: color ease 0.2s;
}

.tabs :global(span):hover {
    color: white;
}

.tabs :global(span).active {
    color: white;
}

.separator {
    height: 162px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

:global(.lowRes) .separator {

    height: 1px;
    width: 75%;
}

.sideBar {
    display: flex;
    gap: 20px;
}

:global(.lowRes) .sideBar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabsContainer {
    margin-top: 20px;
    width: 75%;
}

:global(.lowRes) .tabsContainer {
    width: 100%;
}