.sectionWrapper {
    display: flex;
    align-items: center;
    gap: 72px;
    margin-top: 16px;
    width: 100%;
}

:global(.mobile) .sectionWrapper {
    gap: 20px;
}

.sectionTitle {
    position: relative;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 24px;
    font-weight: 500;
}

.sectionTitle::after {
    display: block;
    content: '';
    width: 2px;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(
            45deg,
            var(--primary-orange),
            var(--primary-pink)
    );
    position: absolute;
    left: -6px;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
}

:global(.mobile) .skillsContainer {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
}

.cardWrapper {
    border-radius: 16px;
    background: rgba(68, 60, 104, 0.16);
    box-shadow: 0 1px 3px var(--soft-shadow-purple);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: grid;
    grid-template-rows: 70% 30%;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 160px;
    height: 180px;
}

:global(.mobile) .cardWrapper {
    width: 110px;
    height: 135px;
}

.cardWrapper :global(img) {
    max-width: 110px;
    max-height: 110px;
    transition: filter .2s, transform .2s;
}

:global(.mobile) .cardWrapper :global(img) {
    max-width: 80px;
    max-height: 80px;
}

.skillCardTitle {
    color: white;
    font-size: 18px;
    font-weight: 500;
}