.sectionWrapper {
  display: flex;
  align-items: center;
  gap: 72px;
  margin-top: 16px;
}

.sectionTitle {
  position: relative;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 24px;
  font-weight: 500;
}

.sectionTitle::after {
  display: block;
  content: '';
  width: 2px;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(
    45deg,
    var(--primary-orange),
    var(--primary-pink)
  );
  position: absolute;
  left: -6px;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1400px) {
  .skillsContainer {
    grid-template-columns: repeat(5, 160px);
  }
}

@media (max-width: 1200px) {
  .skillsContainer {
    grid-template-columns: repeat(4, 160px);
  }
}

@media (max-width: 1000px) {
  .skillsContainer {
    grid-template-columns: repeat(3, 160px);
  }
}

@media (max-width: 800px) {
  .skillsContainer {
    grid-template-columns: repeat(2, 160px);
  }
}

.cardWrapper {
  box-shadow: 6px 6px 18px var(--shadow-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 180px;
  gap: 12px;
}

.imageContainer {
  height: 118px;
  width: fit-content;
  max-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.imageContainer :global(img) {
  height: inherit;
  max-width: 160px;
  transition: filter .2s, transform .2s;
}

.imageContainer :global(img):hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.skillCardTitle {
  color: white;
  font-size: 18px;
  font-weight: 500;
}