.overlayRoot {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.sideBarRoot {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    height: 100%;
    background: var(--primary-purple-dark-menu);
    border-radius: 16px 0 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    gap: 32px;
}

.sideBarRoot.lg {
    width: 75%;
}

.sideBarRoot.sm {
    width: 50%;
}

.headerContainer {
    height: 35%;
    width: 80%;
}

.optionWrapper {
    display: grid;
    grid-template-columns: 20% 60%;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 50px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(
            var(--primary-purple-dark-menu),
            var(--primary-purple-dark-menu)
    ),
    radial-gradient(circle at 100%, var(--primary-pink), var(--primary-orange));
    border: double 1px transparent;
    border-radius: 32px;
}

.optionWrapper :global(i) {
    color: white;
    font-size: 24px;
}