.projectsPageWrapper {
    padding-bottom: 52px;
}

.projectCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 52px;
    row-gap: 52px;
    margin-top: 50px;
}

:global(.lowRes) .projectCardsContainer {
    grid-template-columns: 1fr;
}

.lowFidelityImage {
    animation: skeleton-loading 3s linear infinite alternate;
    opacity: 0.5;
}

@keyframes skeleton-loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

.comingSoonProjectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.comingSoonProjectsContainer :global(span) {
    color: #b3a6d0;
    font-size: 32px;
}