.portfolioCtaButton {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.portfolioCtaButton :global(i) {
    font-size: 22px;
    color: white;
}

.ctaButton {
    margin-top: 32px;
    width: 50%;
}

:global(.mobile) .ctaButton {
    width: 100%;
}