.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}

:global(.mobile) .headerContainer {
    margin-top: 5px;
}