@media screen and (max-width: 1650px) {
  .pageWrapper {
    padding: 0 5%;
  }
}

@media screen and (min-width: 1651px) {
  .pageWrapper {
    padding: 0 15%;
  }
}

.pageWrapper {
  min-height: 100vh;
  background: var(--primary-purple-dark);
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  z-index: 0;
  font-family: Quicksand, sans-serif;
  overflow: hidden;
}

.pageWrapper:global(.mobile) {
  min-height: calc(100vh - 122px);
  padding-bottom: 122px;
}

.pageWrapper:global(.lowRes) {
  padding-bottom: 40px;
}