.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageContainer {
    display: flex;
    gap: 64px;
    margin-top: 5vw;
    width: 90%;
    padding: 0 16% 0 22%;
}

:global(.mobile) .pageContainer {
    flex-direction: column;
    gap: 8px;
}

:global(.lowRes) .imageShapeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 360px;
}

:global(.mobile) .photoContainer {
    width: 38vw;
    height: 38vw;
}

.photoContainer {
    position: relative;
    width: 28vw;
    max-width: 220px;
    height: 28vw;
    max-height: 220px;
    border-radius: 100%;
    background: var(--primary-purple-dark);
    border: 2px solid var(--shadow-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        transform: scale(0.9) translateZ(0);
        filter: blur(15px);
        background: linear-gradient(
                to left,
                #ff5770,
                #e4428d,
                #c42da8,
                #9e16c3,
                #6501de,
                #9e16c3,
                #c42da8,
                #e4428d,
                #ff5770
        );
        background-size: 200% 200%;
        animation: animateGlow 3.5s linear infinite;
    }
}

@keyframes animateGlow {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

:global(.mobile) .photo {
    width: 35vw;
    height: 35vw;
}

.photo {
    width: 25vw;
    max-width: 190px;
    height: 25vw;
    max-height: 190px;
    border-radius: 100%;
    box-shadow: 0 1px 3px var(--soft-shadow-purple);
    bottom: 18%;
    left: 30%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 28px;
    gap: 18px;
}

.copy {
    color: white;
}

.email {
    display: flex;
    gap: 12px;
    align-items: center;
}

.email :global(span) {
    color: rgb(255 255 255 / 0.65);
}

.email :global(i) {
    position: relative;
    bottom: -1px;
    color: rgb(255 255 255 / 0.65);
}

.sideBar {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--shadow-pink);

    &::after {
        position: absolute;
        content: "";
        top: 10px;
        z-index: -1;
        height: 2px;
        width: 100%;
        border-radius: 100%;
        transform: scale(0.9) translateZ(0);
        filter: blur(15px);
        background: linear-gradient(
                to left,
                #ff5770,
                #e4428d,
                #c42da8,
                #9e16c3,
                #6501de,
                #9e16c3,
                #c42da8,
                #e4428d,
                #ff5770
        );
        background-size: 200% 200%;
        animation: animateGlow 1.25s linear infinite;
    }
}