:root {
  --primary-purple-light: #635985;
  --primary-purple: #443c68;
  --primary-purple-mid: #393053;
  --primary-purple-dark: #18122b;
  --primary-purple-dark-menu: #0f0b1c;
  --primary-orange: #ff775e;
  --primary-pink: #ff006f;
  --shadow-pink: rgba(229, 93, 154, 0.3);
  --shadow-purple: rgba(8, 5, 28, 0.5);
  --soft-shadow-purple: rgba(8, 5, 28, 0.35);
  --secundary-orange: #ff7300;
}
