.navbarWrapper {
    width: 100%;
    height: 75px;
    background: transparent;
    margin-top: 16px;
}

.navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.linkButtons {
    display: flex;
    gap: 76px;
    align-items: center;
    justify-content: center;

}

.linkButtons :global(a), .flagsContainer :global(span) {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
}

.linkButtons :global(a) {
    transition: text-shadow .3s;
}

.linkButtons :global(a):hover {
    text-shadow: 0 0 12px white;
}

.flagsContainer :global(span).disabled {
    color: #333333;
    font-size: 14px;
    transition: color ease 0.2s;
}

.flagsContainer :global(span).disabled:hover {
    color: white;
}

.flagsContainer {
    width: 200px;
    height: 50px;
    margin-left: auto;
    background: var(--primary-purple-dark);
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.flagsContainer::before {
    border-radius: inherit;
    content: '';
    background-image: linear-gradient(to right, var(--primary-orange) 0%, var(--primary-pink) 100%);
    padding: 1px;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    position: absolute;
    z-index: -1;
}

.cvButton {
    margin-right: auto;
}