.navbarWrapper {
  width: 100%;
  height: 75px;
  background: transparent;
  margin-top: 16px;
}

.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.linkButtons {
  display: flex;
  gap: 76px;
  align-items: center;
  justify-content: center;
}

.linkButtons :global(a),
.flagsContainer :global(span) {
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 4px;
}

.linkButtons :global(a) {
  transition: text-shadow 0.3s;
}

.linkButtons :global(a):hover {
  text-shadow: 0 0 12px white;
}

.flagsContainer :global(span).disabled {
  color: #333333;
  font-size: 14px;
  transition: color ease 0.2s;
}

.flagsContainer :global(span).disabled:hover {
  color: white;
}

.flagsContainer {
  height: 50px;
  margin-left: auto;
  background: var(--primary-purple-dark);
  border-radius: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: double 1px transparent;
  background-image: linear-gradient(
      var(--primary-purple-dark),
      var(--primary-purple-dark)
    ),
    radial-gradient(circle at 100%, var(--primary-pink), var(--primary-orange));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.cvButton {
  margin-right: auto;
}

.cvButton :global(i) {
  color: white;
  font-size: 22px;
}

.cvButton.icon {
  border-radius: 100%;
  padding: 16px;
}

.countryIcon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.3s;
}

.countryIcon:hover {
  transform: scale(1.1);
}

.countryIcon.iconDisabled {
  filter: grayscale(1);
}

.mobileNavbarContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 64px);
  height: 91px;
  padding: 0 32px;
  top: 0;
  left: 0;
  background-color: #0f0b1c;
  z-index: 3;
  box-shadow: 0 6px 6px var(--soft-shadow-purple);
}

.mobileNavbarIconsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  justify-content: center;
  align-items: center;
}

.iconTitleContainer {
  display: grid;
  grid-template-rows: 20px 1px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.iconTitleContainer :global(i) {
  font-size: 24px;
  color: white;
  text-align: center;
}

.iconTitleContainer :global(span) {
  font-size: 12px;
  color: white;
}

.removeDisplay {
  display: none;
}